*.arrow
*.pt
*.rar
*.jpg
*.mnn
*.data
*.onnx
!/src/checkpoints-lsfm/
!/src/checkpoints-lsfm/**
data/*
*.zip
Thermal/.compile_cache/*
compile_cache/*
torch_compile_cache/*
Cycle-NCE/torch_compile_cache/*
Related_Works/Cycle-NCE/src/eval_cache/
*.ckpt
Related_Works/
Related_Works/external/
