xelatex_*.log
archive/**
tmp_*
_vlm*smoke*
*_smoke.json
*_smoke_latest.json
round2_pure_sde_smokes/
*_full_eval_fast_snapshot_*.tar
*_epoch_*.pt
epoch_*.pt
*_segment*.stdout.log
*_segment*.stderr.log
*_runtime_watch_*.stdout.log
*_runtime_watch_*.stderr.log
*_fast_sync_*.stdout.log
*_fast_sync_*.stderr.log
*status_watch_*.stdout.log
*status_watch_*.stderr.log
*stageclose*.stdout.log
*stageclose*.stderr.log
phase2_formal_lane_recover_from_manifest.out.log
phase2_formal_lane_recover_from_manifest.err.log
*_runtime_samples.jsonl
*_runtime_summary.json
samst_wikiarts5_eval_watch*.log
samst_wikiarts5_convergence_watch*.log
bibtex.log
paper_aaai2027.log
pdflatex_pass*.log
supplement_aaai2027.log
supplement_pdflatex_pass*.log
*.png
*.pdf
**/images/**
paper_aaai2027_preview.*
paper_aaai2027.fdb_latexmk
paper_aaai2027.fls
