xelatex_*.log
archive/**
tmp_*
_vlm*smoke*
*_segment*.stdout.log
*_segment*.stderr.log
*_runtime_watch_*.stdout.log
*_runtime_watch_*.stderr.log
*_fast_sync_*.stdout.log
*_fast_sync_*.stderr.log
*status_watch_*.stdout.log
*status_watch_*.stderr.log
*stageclose*.stdout.log
*stageclose*.stderr.log
*.png
*.pdf
**/images/**
paper_aaai2027_preview.*
paper_aaai2027.fdb_latexmk
paper_aaai2027.fls
